.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.with-tool-tip {
    position: relative;
    background: black;
    color: white;
    margin-bottom: 30px;
}

.with-tool-tip__content {
    position: absolute;
    top: 0;
    left: 0;
}

.users {
    margin: 30px;
}

.users__mode--light {
    background: white;
    color: black;
    padding: 10px;
}

.users__mode--dark {
    background: black;
    color: white;
    padding: 10px;
}

.todo-items__ul {
    list-style-type: none;
}
.todo-items__li {
    width: 300px;
    text-align: left;
    margin-bottom: 30px;
}
.todo-items__li--completed{
    color: slategray;
}
.todo-items__li--completed button{
    color: slategray;
    background-color: #282c34;
}
.todo-items__li p {
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.todo-items__li small {
    display: block;
    text-align: right;
}
.todo-items__delete {
    text-align: right;
}